.field_number {
  width: 45px;
  height: 45px;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.field_number div{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width:100%;
}

.field_number.selected {
  background: #009999;
}

.zone {
  width: 285px;
}

:host-context(.matcher) .field_number.selected {
  background: none;
}

:host-context(.matcher) .field_number.selected div {
  box-shadow: inset 0 0 0 10px orangered;
}
