<!--The content below is only a placeholder and can be replaced.-->
<div class="slot">
  <app-field *ngFor="let ticket of tickets;" [ticket]="ticket"></app-field>



  <button (click)="addField()"> Добавить билет</button>
</div>

<div class="check matcher">
  Отметьте выпадающие числа
  <app-field [ticket]="ticketDraw" [priority]="priority"></app-field>
</div>


<div *ngIf="priority">
  Совпадений по билетам:
  <div *ngFor="let ticket of tickets; let i = index">
    <b>{{ i + 1 }}</b> {{ matches(ticket) }}
  </div>
</div>
